In [1]:
import pandas as pd 
import requests
import re
import os
import time
import json

archivo = open("C:/Users/Nur/Documents/tokens/tmdb_token.txt", "r")
contenido = archivo.read()
archivo.close()
token = contenido

In [12]:
df_best_picture = pd.read_csv("./data/best_picture.csv", index_col=0)
df_movie_data = pd.read_csv("./data/movie_data.csv", index_col=0)
df_genres = pd.read_csv("./data/genres.csv", index_col=0)

In [63]:
df_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568 entries, 0 to 567
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          568 non-null    object
 1   id                 568 non-null    int64
 2   original_language  568 non-null    object
 3   original_title     568 non-null    object
 4   overview           568 non-null    object
 5   popularity         568 non-null    float64
 6   release_date       568 non-null    object
 7   title              568 non-null    object
 8   vote_average       568 non-null    float64
 9   vote_count         568 non-null    int64
 10  genre              0 non-null      object
dtypes: float64(2), int64(2), object(7)
memory usage: 69.4+ KB

In [62]:
df_best_picture.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 19 to 10723
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      591 non-null    int64
 1   year_ceremony  591 non-null    int64
 2   ceremony       591 non-null    int64
 3   name           591 non-null    object
 4   film           591 non-null    object
 5   winner         591 non-null    bool
dtypes: bool(1), int64(3), object(2)
memory usage: 28.3+ KB

In [64]:
# me faltan pelis

In [7]:
df_best_picture.sample(1)

,year_film,year_ceremony,ceremony,name,film,winner
104,1929,1930,3,Paramount Famous Lasky,The Love Parade,False

In [6]:
df_movie_data.sample(1)

,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
457,"[35, 18]",65057,en,The Descendants,With his wife Elizabeth on life support after ...,17.407,2011-09-09,The Descendants,6.832,2588

In [11]:
df_genres.sample(1)

   id    name
0  28  Action

In [14]:
with open("./data/genres.txt", 'r') as f:
    genres = f.read()

In [17]:
with open("./data/genres.json", 'r') as f:
    genres = json.load(f)

In [22]:
genres["genres"]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

In [ ]:
# GPT
# diccionario_resultante = {item['id']: item['name'] for item in lista_diccionarios}

In [24]:
dict_genres = {}

for i in genres["genres"]:
    id = i["id"]
    name = i["name"]
    dict_genres[id] = name

In [25]:
dict_genres

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [31]:
df_movie_data['genre'] = df_movie_data['genre_ids'].apply(dict_genres.get)

df_movie_data["genre_ids"].loc[0][]

'['

In [57]:
df_prueba = pd.DataFrame(df_movie_data.loc[0]).T
df_prueba

,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count,genre
0,"[18, 10749]",82474,en,7th Heaven,A dejected Parisian sewer worker feels his pra...,11.372,1927-09-10,7th Heaven,7.3,88,None

In [60]:
# reemplazar los ids con los nombres de los generos
for index, row in df_prueba.iterrows():
    string = row["genre_ids"]
    # convertir string a lista
    # reemplazar cada id con su nombre

dict['[']
dict['1']
dict['8']
dict[',']
dict[' ']
dict['1']
dict['0']
dict['7']
dict['4']
dict['9']
dict[']']

In [68]:
import ast
for index, row in df_movie_data.iterrows():
    string = row["genre_ids"]
    
    # Convertir la string a una lista
    lista_ids = ast.literal_eval(string)
    
    # Mapear cada ID a su nombre de género
    genre_nombres = [dict_genres.get(i) for i in lista_ids]
    
    # Asignar la lista resultante a la columna 'genre'
    df_movie_data.at[index, "genre"] = genre_nombres

In [69]:
df_movie_data

,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count,genre
0,"[18, 10749]",82474,en,7th Heaven,A dejected Parisian sewer worker feels his pra...,11.372,1927-09-10,7th Heaven,7.300,88,"[Drama, Romance]"
1,"[18, 28, 10752, 10749]",28966,en,Wings,"Two young men, one rich, one middle class, bot...",12.734,1927-08-12,Wings,7.200,246,"[Drama, Action, War, Romance]"
2,"[28, 37]",83989,en,In Old Arizona,Army Sergeant Mickey Dunn sets out in pursuit ...,6.854,1928-12-25,In Old Arizona,5.200,23,"[Action, Western]"
3,[18],83990,en,The Patriot,"In 18th-Century Russia, the Czar, Paul, is sur...",3.791,1928-09-01,The Patriot,5.000,3,[Drama]
4,"[18, 36]",84274,en,Disraeli,Prime Minister of Great Britain Benjamin Disra...,2.351,1929-11-01,Disraeli,5.500,15,"[Drama, History]"
...,...,...,...,...,...,...,...,...,...,...,...
563,"[28, 12, 878]",545611,en,Everything Everywhere All at Once,An aging Chinese immigrant is swept up in an i...,66.960,2022-03-24,Everything Everywhere All at Once,7.813,5466,"[Action, Adventure, Science Fiction]"
564,"[18, 35]",804095,en,The Fabelmans,"Growing up in post-World War II era Arizona, y...",61.797,2022-11-11,The Fabelmans,7.709,1894,"[Drama, Comedy]"
565,"[28, 18]",361743,en,Top Gun: Maverick,After more than thirty years of service as one...,140.187,2022-05-24,Top Gun: Maverick,8.247,7866,"[Action, Drama]"
566,"[35, 18]",497828,en,Triangle of Sadness,A celebrity model couple are invited on a luxu...,31.615,2022-09-18,Triangle of Sadness,7.115,1732,"[Comedy, Drama]"
567,[18],777245,en,Women Talking,A group of women in an isolated religious colo...,25.013,2022-12-23,Women Talking,6.891,450,[Drama]

In [72]:
# ??? a la hora de analizar tener varios generos en la misma columna sera un problema
# a tener en cuenta

In [71]:
df_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568 entries, 0 to 567
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          568 non-null    object
 1   id                 568 non-null    int64
 2   original_language  568 non-null    object
 3   original_title     568 non-null    object
 4   overview           568 non-null    object
 5   popularity         568 non-null    float64
 6   release_date       568 non-null    object
 7   title              568 non-null    object
 8   vote_average       568 non-null    float64
 9   vote_count         568 non-null    int64
 10  genre              568 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 69.4+ KB

In [78]:
df_pelis = pd.merge(df_best_picture, df_movie_data, left_on='film', right_on='title', how="left")
df_pelis

,year_film,year_ceremony,ceremony,name,film,winner,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count,genre
0,1927,1928,1,The Caddo Company,The Racket,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1927,1928,1,Fox,7th Heaven,False,"[18, 10749]",82474.0,en,7th Heaven,A dejected Parisian sewer worker feels his pra...,11.372,1927-09-10,7th Heaven,7.300,88.0,"[Drama, Romance]"
2,1927,1928,1,Paramount Famous Lasky,Wings,True,"[18, 28, 10752, 10749]",28966.0,en,Wings,"Two young men, one rich, one middle class, bot...",12.734,1927-08-12,Wings,7.200,246.0,"[Drama, Action, War, Romance]"
3,1928,1929,2,Feature Productions,Alibi,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1928,1929,2,Fox,In Old Arizona,False,"[28, 37]",83989.0,en,In Old Arizona,Army Sergeant Mickey Dunn sets out in pursuit ...,6.854,1928-12-25,In Old Arizona,5.200,23.0,"[Action, Western]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,2022,2023,95,"Kristie Macosko Krieger, Steven Spielberg and ...",The Fabelmans,False,"[18, 35]",804095.0,en,The Fabelmans,"Growing up in post-World War II era Arizona, y...",61.797,2022-11-11,The Fabelmans,7.709,1894.0,"[Drama, Comedy]"
622,2022,2023,95,"Todd Field, Alexandra Milchan and Scott Lamber...",Tár,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,2022,2023,95,"Tom Cruise, Christopher McQuarrie, David Ellis...",Top Gun: Maverick,False,"[28, 18]",361743.0,en,Top Gun: Maverick,After more than thirty years of service as one...,140.187,2022-05-24,Top Gun: Maverick,8.247,7866.0,"[Action, Drama]"
624,2022,2023,95,"Erik Hemmendorff and Philippe Bober, Producers",Triangle of Sadness,False,"[35, 18]",497828.0,en,Triangle of Sadness,A celebrity model couple are invited on a luxu...,31.615,2022-09-18,Triangle of Sadness,7.115,1732.0,"[Comedy, Drama]"
625,2022,2023,95,"Dede Gardner, Jeremy Kleiner and Frances McDor...",Women Talking,False,[18],777245.0,en,Women Talking,A group of women in an isolated religious colo...,25.013,2022-12-23,Women Talking,6.891,450.0,[Drama]

In [79]:
df_pelis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year_film          626 non-null    int64
 1   year_ceremony      626 non-null    int64
 2   ceremony           626 non-null    int64
 3   name               626 non-null    object
 4   film               626 non-null    object
 5   winner             626 non-null    bool
 6   genre_ids          584 non-null    object
 7   id                 584 non-null    float64
 8   original_language  584 non-null    object
 9   original_title     584 non-null    object
 10  overview           584 non-null    object
 11  popularity         584 non-null    float64
 12  release_date       584 non-null    object
 13  title              584 non-null    object
 14  vote_average       584 non-null    float64
 15  vote_count         584 non-null    float64
 16  genre              584 non-null    object
dtypes: bool(1), float64(4), int64(3), object(9)
memory usage: 79.0+ KB

In [84]:
df_pelis[df_pelis["film"].duplicated()]

,year_film,year_ceremony,ceremony,name,film,winner,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count,genre
21,1931,1932,5,Metro-Goldwyn-Mayer,The Champ,False,[16],351010.0,en,The Champ,A Terrytoons cartoon released 20 September 1931.,1.091,1931-09-19,The Champ,0.000,0.0,[Animation]
39,1934,1935,7,Paramount,Cleopatra,False,"[18, 36, 10749]",8095.0,en,Cleopatra,"Determined to hold on to the throne, Cleopatra...",25.857,1963-06-12,Cleopatra,7.057,670.0,"[Drama, History, Romance]"
59,1935,1936,8,Metro-Goldwyn-Mayer,Mutiny on the Bounty,True,"[12, 18, 36]",11085.0,en,Mutiny on the Bounty,The Bounty leaves Portsmouth in 1787. Its dest...,20.112,1962-11-08,Mutiny on the Bounty,7.000,269.0,"[Adventure, Drama, History]"
69,1936,1937,9,Metro-Goldwyn-Mayer,Romeo and Juliet,False,"[18, 10749]",6003.0,en,Romeo and Juliet,Romeo Montague and Juliet Capulet fall in love...,24.191,1968-04-02,Romeo and Juliet,7.350,615.0,"[Drama, Romance]"
84,1937,1938,10,Selznick International Pictures,A Star Is Born,False,"[10402, 18, 10749]",332562.0,en,A Star Is Born,Seasoned musician Jackson Maine discovers — an...,47.238,2018-10-03,A Star Is Born,7.502,11170.0,"[Music, Drama, Romance]"
85,1937,1938,10,Selznick International Pictures,A Star Is Born,False,"[18, 10402, 10749]",19610.0,en,A Star Is Born,"Drunken, has-been rock star John Norman Howard...",11.758,1976-12-17,A Star Is Born,5.958,204.0,"[Drama, Music, Romance]"
139,1943,1944,16,20th Century-Fox,Heaven Can Wait,False,"[14, 35, 10749]",12185.0,en,Heaven Can Wait,Joe Pendleton is a quarterback preparing to le...,16.071,1978-06-28,Heaven Can Wait,6.564,358.0,"[Fantasy, Comedy, Romance]"
199,1954,1955,27,"William Perlberg, Producer",The Country Girl,False,[35],1120262.0,ar,بنت البلد,Abdul Rahim sends his son Ismail to Paris to r...,0.600,1954-05-02,The Country Girl,0.000,0.0,[Comedy]
230,1960,1961,33,"Billy Wilder, Producer",The Apartment,True,[18],364520.0,it,La garçonnière,A building instructor cheats on his wife with ...,2.855,1960-01-01,The Apartment,8.000,1.0,[Drama]
239,1961,1962,34,"Robert Wise, Producer",West Side Story,True,"[18, 10749, 80]",511809.0,en,West Side Story,Two youngsters from rival New York City gangs ...,36.976,2021-12-08,West Side Story,7.000,1382.0,"[Drama, Romance, Crime]"
243,1962,1963,35,"Aaron Rosenberg, Producer",Mutiny on the Bounty,False,"[12, 18, 36]",12311.0,en,Mutiny on the Bounty,Fletcher Christian successfully leads a revolt...,17.038,1935-11-22,Mutiny on the Bounty,7.341,305.0,"[Adventure, Drama, History]"
244,1962,1963,35,"Aaron Rosenberg, Producer",Mutiny on the Bounty,False,"[12, 18, 36]",11085.0,en,Mutiny on the Bounty,The Bounty leaves Portsmouth in 1787. Its dest...,20.112,1962-11-08,Mutiny on the Bounty,7.000,269.0,"[Adventure, Drama, History]"
247,1963,1964,36,"Walter Wanger, Producer",Cleopatra,False,"[36, 18, 10749]",43902.0,en,Cleopatra,The queen of Egypt barges the Nile and flirts ...,9.243,1934-10-05,Cleopatra,6.000,67.0,"[History, Drama, Romance]"
248,1963,1964,36,"Walter Wanger, Producer",Cleopatra,False,"[18, 36, 10749]",8095.0,en,Cleopatra,"Determined to hold on to the throne, Cleopatra...",25.857,1963-06-12,Cleopatra,7.057,670.0,"[Drama, History, Romance]"
276,1968,1969,41,"Anthony Havelock-Allan and John Brabourne, Pro...",Romeo and Juliet,False,"[18, 10749]",43879.0,en,Romeo and Juliet,Young love is poisoned by a generations long f...,10.049,1936-09-03,Romeo and Juliet,5.900,23.0,"[Drama, Romance]"
277,1968,1969,41,"Anthony Havelock-Allan and John Brabourne, Pro...",Romeo and Juliet,False,"[18, 10749]",6003.0,en,Romeo and Juliet,Romeo Montague and Juliet Capulet fall in love...,24.191,1968-04-02,Romeo and Juliet,7.350,615.0,"[Drama, Romance]"
317,1976,1977,49,"Irwin Winkler and Robert Chartoff, Producers",Rocky,True,[],1187746.0,en,Rocky,Rocky comprises a single monitor video and fou...,0.600,1976-10-05,Rocky,0.000,0.0,[]
319,1976,1977,49,"Michael Phillips and Julia Phillips, Producers",Taxi Driver,False,[18],612176.0,tr,Taksi Şöförü,Taxi driver Mehmet and shop attendant Sibel is...,1.400,1976-09-01,Taxi Driver,5.000,4.0,[Drama]
327,1978,1979,51,"Warren Beatty, Producer",Heaven Can Wait,False,"[14, 18, 35, 10749]",18727.0,en,Heaven Can Wait,Spoiled playboy Henry van Cleve dies and arriv...,12.743,1943-08-05,Heaven Can Wait,6.900,202.0,"[Fantasy, Drama, Comedy, Romance]"
328,1978,1979,51,"Warren Beatty, Producer",Heaven Can Wait,False,"[14, 35, 10749]",12185.0,en,Heaven Can Wait,Joe Pendleton is a quarterback preparing to le...,16.071,1978-06-28,Heaven Can Wait,6.564,358.0,"[Fantasy, Comedy, Romance]"
389,1990,1991,63,"Lisa Weinstein, Producer",Ghost,False,"[14, 16]",258570.0,ja,Ghost,"Haunting light and haunted spaces, otherworldl...",1.324,1984-01-01,Ghost,5.900,22.0,"[Fantasy, Animation]"
398,1992,1993,65,"Stephen Woolley, Producer",The Crying Game,False,[35],1214190.0,en,The Crying Game,Roy Brush has aspirations to be a great footba...,1.400,1992-05-05,The Crying Game,0.000,0.0,[Comedy]
447,2001,2002,74,"Martin Brown, Baz Luhrmann and Fred Baron, Pro...",Moulin Rouge,False,"[18, 10402]",10910.0,en,Moulin Rouge,"Born into aristocracy, Toulouse-Lautrec moves ...",9.250,1952-12-23,Moulin Rouge,6.700,85.0,"[Drama, Music]"
458,2003,2004,76,"Kathleen Kennedy, Frank Marshall and Gary Ross...",Seabiscuit,False,[99],1103859.0,en,Seabiscuit,"He was boxy, with stumpy legs that wouldn't co...",0.947,2003-04-21,Seabiscuit,0.000,0.0,[Documentary]
463,2004,2005,77,"Taylor Hackford, Stuart Benjamin and Howard Ba...",Ray,False,[35],1211840.0,en,Ray,"A little kid stranded, growing up in a country...",0.600,2004-05-29,Ray,0.000,0.0,[Comedy]
468,2005,2006,78,"Paul Haggis and Cathy Schulman, Producers",Crash,True,"[18, 28, 80]",468180.0,tr,Çarpışma,Three men. From different corners of the crime...,0.600,2005-09-26,Crash,6.000,4.0,"[Drama, Action, Crime]"
484,2008,2009,81,"Dan Jinks and Bruce Cohen, Producers",Milk,False,[18],12471.0,tr,Süt,"A high school graduate, Yusuf could not pass t...",3.263,2008-09-01,Milk,6.022,46.0,[Drama]
508,2011,2012,84,"Thomas Langmann, Producer",The Artist,True,[35],278458.0,es,El artista,A male nurse steals some of one of his patient...,1.722,2009-05-28,The Artist,6.100,9.0,[Comedy]
541,2014,2015,87,"Christian Colson, Oprah Winfrey, Dede Gardner ...",Selma,False,[],464573.0,ar,Selma,Selma has just graduated from high school and ...,0.600,2014-01-01,Selma,0.000,0.0,[]
547,2015,2016,88,"Finola Dwyer and Amanda Posey, Producers",Brooklyn,False,"[18, 10402]",291678.0,fr,Brooklyn,Coralie runs away from Switzerland. She arrive...,1.191,2014-05-18,Brooklyn,5.200,6.0,"[Drama, Music]"
554,2016,2017,89,"Shawn Levy, Dan Levine, Aaron Ryder and David ...",Arrival,False,"[16, 18, 10749]",472349.0,en,Arrival,This traditionally animated film tells the jou...,0.600,2016-05-25,Arrival,6.200,5.0,"[Animation, Drama, Romance]"
558,2016,2017,89,"Carla Hacken and Julie Yorn, Producers",Hell or High Water,False,[],641185.0,en,Hell or High Water,A film about a young pastor loved and adored b...,0.612,2016-06-04,Hell or High Water,0.000,0.0,[]
566,2017,2018,90,"Tim Bevan, Eric Fellner, Lisa Bruce, Anthony M...",Darkest Hour,False,"[27, 28, 18]",460045.0,ja,丑刻二参ル,"One cold midnight, Kenji was riding on a bicyc...",0.937,2015-11-14,Darkest Hour,0.000,0.0,"[Horror, Action, Drama]"
580,2018,2019,91,"Bill Gerber, Bradley Cooper and Lynette Howell...",A Star Is Born,False,"[18, 10749]",22692.0,en,A Star Is Born,Esther Blodgett is just another starry-eyed fa...,16.378,1937-04-27,A Star Is Born,7.200,187.0,"[Drama, Romance]"
581,2018,2019,91,"Bill Gerber, Bradley Cooper and Lynette Howell...",A Star Is Born,False,"[10402, 18, 10749]",332562.0,en,A Star Is Born,Seasoned musician Jackson Maine discovers — an...,47.238,2018-10-03,A Star Is Born,7.502,11170.0,"[Music, Drama, Romance]"
582,2018,2019,91,"Bill Gerber, Bradley Cooper and Lynette Howell...",A Star Is Born,False,"[18, 10402, 10749]",19610.0,en,A Star Is Born,"Drunken, has-been rock star John Norman Howard...",11.758,1976-12-17,A Star Is Born,5.958,204.0,"[Drama, Music, Romance]"
584,2018,2019,91,"Dede Gardner, Jeremy Kleiner, Adam McKay and K...",Vice,False,[18],955671.0,en,Vice,When a state governor is unexpectedly tapped f...,1.400,2018-01-01,Vice,0.000,0.0,[Drama]
589,2019,2020,92,"Amy Pascal, Producer",Little Women,False,"[18, 10749]",331482.0,en,Little Women,Four sisters come of age in America in the aft...,57.664,2019-12-25,Little Women,7.895,5812.0,"[Drama, Romance]"
595,2020,2021,93,"David Parfitt, Jean-Louis Livi and Philippe Ca...",The Father,False,[18],605503.0,bg,Бащата,Vasil has just lost his long-time partner in l...,1.583,2020-08-21,The Father,5.400,7.0,[Drama]
608,2021,2022,94,"Mary Parent, Denis Villeneuve and Cale Boyter,...",Dune,False,"[28, 878, 12]",841.0,en,Dune,"In the year 10,191, the world is at war for co...",66.915,1984-12-14,Dune,6.201,2647.0,"[Action, Science Fiction, Adventure]"
609,2021,2022,94,"Mary Parent, Denis Villeneuve and Cale Boyter,...",Dune,False,"[16, 9648, 53]",697620.0,hu,Dűne,"Sounds as witnesses. They blurr into memories,...",6.817,2020-06-15,Dune,1.500,2.0,"[Animation, Mystery, Thriller]"
614,2021,2022,94,"Steven Spielberg and Kristie Macosko Krieger, ...",West Side Story,False,"[80, 18, 10749]",1725.0,en,West Side Story,In the slums of the upper West Side of Manhatt...,18.302,1961-12-13,West Side Story,7.300,1742.0,"[Crime, Drama, Romance]"
615,2021,2022,94,"Steven Spielberg and Kristie Macosko Krieger, ...",West Side Story,False,"[18, 10749, 80]",511809.0,en,West Side Story,Two youngsters from rival New York City gangs ...,36.976,2021-12-08,West Side Story,7.000,1382.0,"[Drama, Romance, Crime]"
616,2022,2023,95,"Malte Grunert, Producer",All Quiet on the Western Front,False,"[18, 10752]",49046.0,de,Im Westen nichts Neues,"Paul Baumer and his friends Albert and Muller,...",63.997,2022-10-07,All Quiet on the Western Front,7.735,3299.0,"[Drama, War]"

In [85]:
# ??? liada, tengo q fijarme en film/title/original title

In [13]:
url = "https://api.themoviedb.org/3/search/movie?query=taxi%20driver&include_adult=false&language=en-US&page=1&year=1976"

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {token}"
}

response = requests.get(url, headers=headers)

taxi_driver = response.json()

In [14]:
taxi_driver

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/6aoyUbvu0419XLKLIMoH0TkEicH.jpg',
   'genre_ids': [80, 18],
   'id': 103,
   'original_language': 'en',
   'original_title': 'Taxi Driver',
   'overview': 'A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge for violent action.',
   'popularity': 58.644,
   'poster_path': '/ekstpH614fwDX8DUln1a2Opz0N8.jpg',
   'release_date': '1976-02-09',
   'title': 'Taxi Driver',
   'video': False,
   'vote_average': 8.156,
   'vote_count': 11333},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [18],
   'id': 612176,
   'original_language': 'tr',
   'original_title': 'Taksi Şöförü',
   'overview': "Taxi driver Mehmet and shop attendant Sibel is preparing for marriage. The taxi's owner is the father of İbrahim, Mehmet's close friend who is secretly in love with Sibel. After his father passes away, he starts living a rich life from his fathers heritage. A love triangle begins to fold between Mehmet, İbrahim and Sibel.",
   'popularity': 1.08,
   'poster_path': '/5aAUSQtM6xjFOLF7iv6orGg05ee.jpg',
   'release_date': '1976-09-01',
   'title': 'Taxi Driver',
   'video': False,
   'vote_average': 5.0,
   'vote_count': 4},
  {'adult': False,
   'backdrop_path': '/cGyL8NpblbCBrZ0AqwY7mClbVLK.jpg',
   'genre_ids': [35],
   'id': 86190,
   'original_language': 'en',
   'original_title': 'Adventures of a Taxi Driver',
   'overview': 'Joe North is a London taxi driver who manages to get himself into any number of sexual situations with various women.',
   'popularity': 7.194,
   'poster_path': '/fVR6IXu5u0LUoIb2r58kAkr6DcI.jpg',
   'release_date': '1976-04-30',
   'title': 'Adventures of a Taxi Driver',
   'video': False,
   'vote_average': 5.0,
   'vote_count': 16}],
 'total_pages': 1,
 'total_results': 3}