In [16]:
import pandas as pd 
import json
import ast

In [17]:
with open("./data/genres.json","r") as f:
    genres = json.load(f)
genres

{'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}

In [18]:
dict_genres = {}

for i in genres["genres"]:
    id = i["id"]
    name = i["name"]
    dict_genres[id] = name

dict_genres

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [19]:
df_movie_data = pd.read_csv("./data/movie_data.csv")
df_movie_data

,genre_ids,original_language,original_title,overview,release_date,title,vote_average
0,"[80, 18]",en,The Racket,A renegade police captain sets out to catch a ...,1928-11-01,The Racket,6.400
1,"[18, 10749]",en,7th Heaven,A dejected Parisian sewer worker feels his pra...,1927-09-10,7th Heaven,7.317
2,"[18, 28, 10752, 10749]",en,Wings,"Two young men, one rich, one middle class, bot...",1927-08-12,Wings,7.198
3,"[28, 80, 53]",en,Alibi,"Chick Williams, a prohibition gangster, rejoin...",1929-04-20,Alibi,5.656
4,"[28, 37]",en,In Old Arizona,Army Sergeant Mickey Dunn sets out in pursuit ...,1928-12-25,In Old Arizona,5.208
...,...,...,...,...,...,...,...
586,"[18, 35]",en,The Fabelmans,"Growing up in post-World War II era Arizona, y...",2022-11-11,The Fabelmans,7.692
587,"[18, 10402]",en,TÁR,Renowned musician Lydia Tár is days away from ...,2022-09-23,TÁR,7.143
588,"[28, 18]",en,Top Gun: Maverick,After more than thirty years of service as one...,2022-05-24,Top Gun: Maverick,8.237
589,"[35, 18]",en,Triangle of Sadness,A celebrity model couple are invited on a luxu...,2022-09-18,Triangle of Sadness,7.116
590,"[18, 80]",en,Women Talking,A group of women in an isolated religious colo...,2022-12-23,Women Talking,6.908

In [25]:
for index, row in df_movie_data.iterrows():
    string = row["genre_ids"]
    
    # Convertir la string a una lista
    lista_ids = ast.literal_eval(string)
    
    # Mapear cada ID a su nombre de género
    genre_nombres = [dict_genres.get(i) for i in lista_ids]
    
    # Asignar la lista resultante a la columna 'genre'
    df_movie_data.at[index, "genre"] = genre_nombres

In [26]:
df_movie_data

,genre_ids,original_language,original_title,overview,release_date,title,vote_average,genre
0,"[80, 18]",en,The Racket,A renegade police captain sets out to catch a ...,1928-11-01,The Racket,6.400,"[Crime, Drama]"
1,"[18, 10749]",en,7th Heaven,A dejected Parisian sewer worker feels his pra...,1927-09-10,7th Heaven,7.317,"[Drama, Romance]"
2,"[18, 28, 10752, 10749]",en,Wings,"Two young men, one rich, one middle class, bot...",1927-08-12,Wings,7.198,"[Drama, Action, War, Romance]"
3,"[28, 80, 53]",en,Alibi,"Chick Williams, a prohibition gangster, rejoin...",1929-04-20,Alibi,5.656,"[Action, Crime, Thriller]"
4,"[28, 37]",en,In Old Arizona,Army Sergeant Mickey Dunn sets out in pursuit ...,1928-12-25,In Old Arizona,5.208,"[Action, Western]"
...,...,...,...,...,...,...,...,...
586,"[18, 35]",en,The Fabelmans,"Growing up in post-World War II era Arizona, y...",2022-11-11,The Fabelmans,7.692,"[Drama, Comedy]"
587,"[18, 10402]",en,TÁR,Renowned musician Lydia Tár is days away from ...,2022-09-23,TÁR,7.143,"[Drama, Music]"
588,"[28, 18]",en,Top Gun: Maverick,After more than thirty years of service as one...,2022-05-24,Top Gun: Maverick,8.237,"[Action, Drama]"
589,"[35, 18]",en,Triangle of Sadness,A celebrity model couple are invited on a luxu...,2022-09-18,Triangle of Sadness,7.116,"[Comedy, Drama]"
590,"[18, 80]",en,Women Talking,A group of women in an isolated religious colo...,2022-12-23,Women Talking,6.908,"[Drama, Crime]"